HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/application.properties
spring.application.name=ecorideApi
server.port=8081
spring.h2.console.enabled=false

spring.datasource.url=jdbc:mysql://mysql-kakti.alwaysdata.net:3306/kakti_ecoride?useSSL=false&serverTimezone=UTC
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.datasource.username=kakti
spring.datasource.password=PO144anes!REINE

spring.jpa.show-sql=true

spring.jpa.open-in-view=false

spring.jpa.hibernate.ddl-auto=update

spring.datasource.hikari.maximum-pool-size=10


# Ne jamais pousser ce fichier sur Git
# Ignorer le fichier application-dev.properties (ne pas versionner)
application-dev.properties
jwt.secret=MonSuperSecretJWTPourLeDev123!
